@import '../../../common.styl'

.screen
  background white

.screenWrapper
  padding 28px

.table
  padding 28px

.head
  padding 28px

.row
  padding 28px

.body
  padding 28px

.pagination
  padding 0px