@import '../../../common.styl'

.screenWrapper
  padding 28px

.screen
  background white
  coolScrollbar()

.card
  margin-top 20px
  padding 15px
  border: 1px solid #E2E2E2

.items
  display block
  border: 1px solid #E2E2E2

.row
  display flex
  flex-direction: column


.orderNumber
  padding-left 20px
  margin-bottom 15px
  font-size xx-large
  text-align center
