@import '../../../../../common.styl'

.row
  min-height 64px
  margin-bottom 30px
  padding 10px
  border: 1px solid #E2E2E2

  

  div:first-child
    display flex
    justify-content center
    align-items center

    div
      width 100%

    &:last-child div
      width 100%

.orderNumber
  font-weight 500
  color $primary-dark